/* Allgemein */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    overflow-x: hidden;
    background: #111;
}

/* Hintergrundvideo */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
}

/* Card */
.card {
    margin-top: 12vh;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 25px;
    width: 360px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    margin-left: auto;
    margin-right: auto;
    opacity: 0; /* fade-in start */
}

/* Fade-In Animation */
.fade-in {
    animation: fadein 0.8s ease forwards;
}
@keyframes fadein {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

/* Name & Bio */
.name {
    font-size: 28px;
    margin-top: 10px;
}
.bio {
    color: #ccc;
    margin-top: -5px;
    margin-bottom: 15px;
}

/* Discord Mini Profil */
.discord-box {
    background: rgba(255,255,255,0.08);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    backdrop-filter: blur(8px);
}

.d-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/* Social Icons */
.socials {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.social-icon {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    transition: 0.2s;
}
.social-icon:hover {
    background: rgba(255,255,255,0.25);
}
